**Description of data**

The project focuses on an e-commerce logistics dataset where we aim to analyze and optimize delivery operations. This dataset contains detailed information about orders, such as product categories, shipping routes, logistics providers, costs, and delivery timelines. The goal is to understand delivery patterns, manage costs, and ensure timely deliveries. Accurate insights from this data will help improve customer satisfaction, enhance operational efficiency, and support strategic business decisions. This project can also pave the way for building predictive models to forecast delays or estimate logistics costs for future transactions.

**The datset contains the following fields:**

- order_id:Unique identifier for each order.
- product_category_cleaned:Cleaned category name of the product (e.g., PC, Laptop).
- destination_city:City where the order is to be delivered.
- destination_city_cleaned:Cleaned version of the destination city name.
- origin_city:City from where the order is dispatched.
- shipping_route:Description of the route taken for shipping.
- logistics_provider_id:Identifier for the logistics provider responsible for delivery.
- logistics_group_id:Identifier for the logistics group or network.
- route_type:Type of route taken (e.g., express, standard).
- final_delivery_status:Delivery status of the order (e.g., Delivered, Delayed).
- dispatch_date:Date the order was dispatched.
- actual_delivery_date:Actual date the order was delivered.
- promised_delivery_date:Date promised for delivery during the order process.
- transit_storage_cost:Cost incurred for storage during transit.
- shipping_cost:Cost incurred for shipping the order.
- total_logistic_cost:Combined logistics cost (e.g., shipping + storage).
- delivery_days:Total days taken for the delivery.
- source:Source platform or channel where the order was placed.
- session_length:Duration of the user session while placing the order.
- payment_mode:Mode of payment used (e.g., Credit Card, Debit Card).

In [54]:
#Step 1: Import the Liabraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [56]:
# Load the CSV file
df=pd.read_csv("Excel_Module_Ecommerce_demo (9) (1).csv")
#Step 2: Understand the Data
df.head()

,order_id,product_category_cleaned,destination_city,destination_city_cleaned,origin_city,shipping_route,logistics_provider_id,logistics_group_id,route_type,final_delivery_status,dispatch_date,actual_delivery_date,promised_delivery_date,transit_storage_cost,shipping_cost,total_logistic_cost,delivery_days,source,session_length,payment_mode
0,318813,PC,"Delhi, DL",Delhi,Bangalore,Bangalore-Delhi,Ship2Home delivery,Ship2Home,Outstation,Delivered,01-03-2019,04-03-2019,06-03-2019,26,129,155,3,Website,3259.850000,Credit Card
1,70870,Laptop,"Mumbai, MH",Mumbai,Bangalore,Bangalore-Mumbai,Ship2Home Logistics Unit,Ship2Home,Outstation,Delivered,01-03-2019,07-03-2019,06-03-2019,35,114,149,6,App,2173.741671,Debit Card
2,719174,Mobile,"Kolkata, WB",Kolkata,Delhi,Delhi-Kolkata,Ship2Home Logistics Unit,Ship2Home,Outstation,Delivered,01-03-2019,07-03-2019,04-03-2019,38,114,152,6,App,703.981372,Debit Card
3,482982,Mobile,"Delhi, DL",Delhi,Delhi,Delhi-Delhi,Ship2Home Logistics Unit,Ship2Home,Local,Delivered,01-03-2019,05-03-2019,06-03-2019,0,129,129,4,Website,1646.060000,Debit Card
4,217738,Laptop,"Kolkata, WB",Kolkata,Delhi,Delhi-Kolkata,Ship2Home Logistics Unit,Ship2Home,Outstation,Delivered,01-03-2019,07-03-2019,08-03-2019,50,109,159,6,App,2275.445909,Debit Card

In [57]:
# Check basic metadata
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4263 entries, 0 to 4262
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  4263 non-null   int64
 1   product_category_cleaned  4263 non-null   object
 2   destination_city          4263 non-null   object
 3   destination_city_cleaned  4263 non-null   object
 4   origin_city               4263 non-null   object
 5   shipping_route            4263 non-null   object
 6   logistics_provider_id     4263 non-null   object
 7   logistics_group_id        4263 non-null   object
 8   route_type                4263 non-null   object
 9   final_delivery_status     4263 non-null   object
 10  dispatch_date             4263 non-null   object
 11  actual_delivery_date      4263 non-null   object
 12  promised_delivery_date    4263 non-null   object
 13  transit_storage_cost      4263 non-null   int64
 14  shipping_cost             4263 non-null   int64
 15  total_logistic_cost       4263 non-null   int64
 16  delivery_days             4263 non-null   int64
 17  source                    4252 non-null   object
 18  session_length            4252 non-null   float64
 19  payment_mode              4252 non-null   object
dtypes: float64(1), int64(5), object(14)
memory usage: 666.2+ KB

In [58]:
# Summarize numeric columns
df.describe()

,order_id,transit_storage_cost,shipping_cost,total_logistic_cost,delivery_days,session_length
count,4263.000000,4263.000000,4263.000000,4263.000000,4263.000000,4252.000000
mean,486061.779498,36.379310,113.239268,149.618578,4.580812,1986.206951
std,290238.360554,25.199093,11.914642,20.672889,2.439792,1005.849827
min,111.000000,0.000000,85.000000,100.000000,0.000000,180.210000
25%,227592.500000,25.000000,106.000000,135.000000,3.000000,1124.000000
50%,484635.000000,37.000000,112.000000,153.000000,4.000000,1985.339563
75%,736178.000000,49.000000,124.000000,165.000000,6.000000,2858.417260
max,999468.000000,90.000000,130.000000,198.000000,11.000000,3877.982520

In [59]:
# Check for missing values
missing_values = df.isnull().sum()
display(missing_values[missing_values > 0])

source            11
session_length    11
payment_mode      11
dtype: int64

In [60]:
# Step 3: Clean the Data
# Handle missing values
df = df.dropna(subset=['session_length', 'transit_storage_cost'])  
df['transit_storage_cost'].fillna(df['transit_storage_cost'].mean())

0       26
1       35
2       38
3        0
4       50
        ..
4258     0
4259     0
4260    78
4261    50
4262     0
Name: transit_storage_cost, Length: 4252, dtype: int64

In [62]:
# Remove duplicate rows
df = df.drop_duplicates()

In [64]:
# Correct data types
df['dispatch_date'] = pd.to_datetime(df['dispatch_date'], errors='coerce')
df['actual_delivery_date'] = pd.to_datetime(df['actual_delivery_date'], errors='coerce')
df['promised_delivery_date'] = pd.to_datetime(df['promised_delivery_date'], errors='coerce')

In [67]:
# Step 4: Transform the Data
# Normalize numeric columns
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[['transit_storage_cost', 'session_length']] = scaler.fit_transform(df[['transit_storage_cost', 'session_length']])

In [69]:
# Encode categorical variables
df = pd.get_dummies(df, drop_first=True)

In [70]:
# Step 5: Feature Engineering
# Create new features
df['delivery_delay'] = (df['actual_delivery_date'] - df['promised_delivery_date']).dt.days
df['dispatch_to_delivery_days'] = (df['actual_delivery_date'] - df['dispatch_date']).dt.days

In [72]:
# Perform feature selection 
correlation_matrix = df.corr()
display(correlation_matrix['delivery_delay'].sort_values(ascending=False))

delivery_delay                                    1.000000
dispatch_to_delivery_days                         0.832931
delivery_days                                     0.832529
actual_delivery_date                              0.629082
route_type_Outstation                             0.276484
total_logistic_cost                               0.223300
logistics_group_id_Ship2Home                      0.199056
transit_storage_cost                              0.165699
logistics_provider_id_Ship2Home  delivery         0.155647
destination_city_cleaned_Chennai                  0.095721
destination_city_Chennai, TN                      0.095721
payment_mode_Credit Card                          0.089743
shipping_route_Delhi-Chennai                      0.084749
shipping_route_Delhi-Bangalore                    0.084043
logistics_provider_id_Ship2Home Logistics Unit    0.066710
destination_city_cleaned_Mumbai                   0.062041
destination_city_Mumbai, MH                       0.062041
shipping_route_Bangalore-Delhi                    0.054933
destination_city_cleaned_Kolkata                  0.048500
destination_city_Kolkata, WB                      0.048500
shipping_route_Delhi-Mumbai                       0.047280
shipping_route_Bangalore-Chennai                  0.044772
shipping_route_Bangalore-Kolkata                  0.038047
shipping_route_Bangalore-Mumbai                   0.032750
shipping_cost                                     0.032439
shipping_route_Delhi-Kolkata                      0.028930
order_id                                          0.027380
origin_city_Delhi                                 0.019959
product_category_cleaned_Tablet                   0.013148
product_category_cleaned_Laptop                   0.000913
product_category_cleaned_TV                      -0.001216
session_length                                   -0.003632
product_category_cleaned_PC                      -0.004097
product_category_cleaned_Mobile                  -0.006936
source_Website                                   -0.010394
destination_city_Delhi, DL                       -0.103398
destination_city_cleaned_Delhi                   -0.103398
payment_mode_Debit Card                          -0.103774
dispatch_date                                    -0.107660
shipping_route_Delhi-Delhi                       -0.174193
promised_delivery_date                           -0.412731
Name: delivery_delay, dtype: float64